.filteredRooms {
    padding: 20px;    
}

.filteredRooms h1 {
    font-size: 1em;
    text-align: center;
    margin-top: 0;
    padding-top: 30px;
}

.filteredRooms hr {
    background-color: #b39d30;
    width: 30%;
    margin: 40px auto;
}





