.services {
    background-color: #ccc;
}

.services h1 {
    font-size: 1em;
    text-align: center;
    margin-top: 0;
    padding-top: 30px;
}

.services hr {
    background-color: #b39d30;
    width: 45%;
    margin: 40px auto 25px;
}

.services .servicesBox {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 40px;        
    padding: 20px;
    padding-bottom: 40px;
}

.services .servicesBox .servicesBoxItem i {
    color: #b39d30;
    margin-bottom: 30px;
}

.services .servicesBox .servicesBoxItem h2 {
    font-size: 0.6em;
    letter-spacing: 4px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.services .servicesBox .servicesBoxItem p {    
    font-size: 0.5em;    
    width: 60%;
    margin: auto;
}

@media screen and (min-width: 600px) {
    .services .servicesBox {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);;
        grid-row-gap: 50px;
        grid-column-gap: 10%;        
    }   
}

@media screen and (min-width: 1200px) {
    .services .servicesBox {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 5%;
    }        
}