.hero {
    background-image: url("../../../images/defaultBcg.jpeg");
    background-position: 50%;
    background-size: cover;
    position: relative;
    right: 0;
    left: 0;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero .front {
    color: #fff;
    background-color: rgba(0, 0, 0,  0.4);
    text-align: center;
    position: absolute;
    top: 35%;
    width: 65%;
    padding: 20px;
}

.hero .front h1 {    
    font-size: 1.2em;
    text-transform: capitalize;
    letter-spacing: 5px;
    margin: 0 auto 30px;
    resize: both;
}

.hero .front hr {
    background-color: #b39d30;
    width: 30%;
    margin: 20px auto;
}

.hero .front p {
    font-size: 0.7em;
    letter-spacing: 4px;
    text-transform: capitalize;
    margin: 20px 0;
}

.hero .front a {    
    color: #000;
    background-color: #b39d30;
    font-size: 0.6em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    display: inline-block;
    padding: 10px 15px;
}

@media screen and (min-width: 768px) {
    .hero .front {
        width: 500px;
    }
}