.images {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;   
}

.images .room {
    width: 100%;
    height: 100%;
}

.images .room img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 600px) {
    .images {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .images {
        grid-gap: 20px;
    }
}

@media (min-width: 1200px) {
    .images {
        grid-gap: 40px;
    }
}

