html , body {
  height: 100%;
}

body {
  font-size: 30px;  
}  

#root {
  height: 100%;
}

.fit-box {  
  background-size: cover;
  background-repeat:no-repeat;
  background-position: 50% 50%;
}



