html , body {
  height: 100%;
}

* {
  margin:0;
  padding: 0;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

body {
  font-size: 36px;  
}  

#root {
  height: 100%;
}

.fit-box {  
  background-size: cover;
  background-repeat:no-repeat;
  background-position: 50% 50%;
}



